# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode build artifacts
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# Runtime data
~/.process_monitor/
